In [1]:
# Import the Pandas library
import pandas as pd

In [3]:
# Create a reference the CSV file desired
csv_path = "data/raw-data-kaggle.csv"

# Read the CSV into a Pandas DataFrame
running_data_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
running_data_df.head(50)

,athlete,gender,timestamp,distance (m),elapsed time (s),elevation gain (m),average heart rate (bpm)
0,18042525,M,15/12/2019 09:08,2965.8,812,17.4,150.3
1,18042525,M,10/12/2019 19:27,10020.8,3290,52.2,160.8
2,18042525,M,03/12/2019 19:46,12132.2,4027,249.0,148.9
3,18042525,M,26/11/2019 19:46,11631.5,4442,194.0,136.2
4,18042525,M,19/11/2019 19:45,11708.1,4022,250.7,146.0
5,18042525,M,12/11/2019 19:45,14538.4,5194,239.3,143.7
6,18042525,M,10/11/2019 15:35,11083.5,3440,90.8,143.2
7,18042525,M,05/11/2019 19:45,11432.4,4043,197.2,150.2
8,18042525,M,29/10/2019 19:45,14550.5,5197,264.7,155.8
9,18042525,M,27/10/2019 11:28,14672.7,5218,191.4,126.8
10,18042525,M,19/10/2019 15:42,14224.9,5239,209.5,133.4
11,18042525,M,15/10/2019 18:43,15342.1,5321,270.2,147.4
12,18042525,M,13/10/2019 16:57,10081.9,3965,199.5,132.7
13,18042525,M,08/10/2019 18:44,10056.7,3474,179.1,170.8
14,18042525,M,01/10/2019 18:45,15024.3,5478,270.0,149.4
15,18042525,M,24/09/2019 18:44,12393.1,4602,260.5,131.9
16,18042525,M,31/07/2019 08:33,12849.4,5045,420.0,151.3
17,18042525,M,30/07/2019 18:46,12351.5,4265,240.1,133.7
18,18042525,M,23/07/2019 07:48,4346.6,2232,114.1,113.1
19,18042525,M,20/07/2019 07:59,10056.6,3745,198.0,131.5
20,18042525,M,18/07/2019 10:05,20022.0,6091,82.3,146.0
21,18042525,M,09/07/2019 18:42,13733.8,4602,234.9,148.7
22,18042525,M,07/07/2019 17:27,10174.4,3985,206.8,130.4
23,18042525,M,02/07/2019 18:46,12566.6,4513,218.5,134.5
24,18042525,M,01/07/2019 16:40,9105.7,3365,74.7,121.7
25,18042525,M,30/06/2019 17:40,10025.2,3566,55.3,124.0
26,18042525,M,25/06/2019 18:48,14622.1,6915,390.5,NaN
27,18042525,M,25/06/2019 18:48,7265.8,2905,209.1,139.4
28,18042525,M,23/06/2019 16:56,12103.8,4274,62.2,130.8
29,18042525,M,18/06/2019 18:50,10695.1,3884,119.2,138.5
30,18042525,M,13/06/2019 16:48,11051.2,3338,60.8,149.6
31,18042525,M,11/06/2019 18:49,14527.6,4821,235.8,145.5
32,18042525,M,04/06/2019 18:43,11369.6,3997,245.5,139.7
33,18042525,M,31/05/2019 08:24,11040.7,5302,338.2,127.6
34,18042525,M,28/05/2019 18:43,13624.2,4838,208.7,134.7
35,18042525,M,26/05/2019 16:44,9891.0,3715,170.4,134.9
36,18042525,M,21/05/2019 18:45,12009.1,4853,326.2,143.6
37,18042525,M,14/05/2019 18:43,10466.1,3808,226.9,138.5
38,18042525,M,12/05/2019 15:44,16508.9,6181,245.7,136.1
39,18042525,M,11/05/2019 17:02,10020.5,3179,2.0,154.7
40,18042525,M,10/05/2019 17:13,11043.8,3401,54.2,155.6
41,18042525,M,07/05/2019 18:43,11016.2,3716,182.6,141.5
42,18042525,M,05/05/2019 08:15,16216.1,5879,264.1,138.4
43,18042525,M,03/05/2019 17:38,9022.5,3283,104.4,143.6
44,18042525,M,30/04/2019 16:42,10412.3,3688,178.5,141.0
45,18042525,M,28/04/2019 16:06,20514.8,6153,78.2,154.3
46,18042525,M,23/04/2019 10:21,11053.5,3807,105.2,136.5
47,18042525,M,20/04/2019 17:41,10005.2,3566,50.1,137.3
48,18042525,M,19/04/2019 17:32,10161.6,3758,197.6,133.4
49,18042525,M,16/04/2019 16:40,15563.5,4679,76.6,157.2